.a-button {
  border-radius: var(--icons-border-radius);
  padding: 8px 33px;
  font-size: 1.2rem;
}

button {
  border: none;
  background-color: white;
}



.wrap-button {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-butt);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  background-color: white;
  justify-content: space-around;
  margin: 3px 12px;
  padding: 2px 6vw;
  cursor: pointer;
}


.caption-txt {
  display: flex;
  padding: 3px 2vw;
  color: white;
  align-self: center;
}

#add.icon {
  --color-i: var(--wblue);
}

#remove.icon {
  --color-i: var(--wblue);
}

#start.icon {
  --color-i: white;
}


#check.icon{
cursor: auto;
--color-i: var(--wverdefluoa);
}

#remove.icon {
  width: 35px;
  height: 35px;
  margin-top: 16px;
}


#remove.icon:hover {
  --color-i: #0485a0
}

#add-small.icon,
#check-small.icon {
  color: var(--wnightlila);
}

#add-small.icon,
#check-small.icon {
  width: 30px;
  height: 30px;
  padding-right: 6px;
}