.a-button {
  border-radius: var(--icons-border-radius);
  padding: 8px 33px;
  font-size: 1.2rem;
}

button {
  border: none;
  background-color: white;
}


.wrap-button {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-butt);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  background-color: white;
  justify-content: space-around;
  padding: 0rem 6rem;
  cursor: pointer;
  align-items: center;
  align-content: center;
}


.caption-txt {
  display: flex;
  padding: 3px 2vw;
  color: white;
  align-self: center;
}



#remove.icon {
    width: 1.9rem;
    height: 1.9rem;
  --color-i: var(--wgray);
}

#add.icon {
    width: 1.9rem;
    height: 1.9rem;
  --color-i: var(--wverdefluo);
}


#remove.icon:hover {
  --color-i: var(--wdgray); 
}

#add.icon:hover {
  --color-i: var(--wverdefluoa); 
}
  


#start.icon {
  --color-i: white;
}


#check.icon { 
  cursor: auto;
   --color-i: var(--wverdefluoa); 
  width: 2.5rem; 
  height: 2.5rem; 
  padding: 0.3rem;
}



#check-off.icon {
  cursor: auto;
--color-i: white;
width: 2.5rem; 
height: 2.5rem; 
padding: 0.3rem;
}



