:root {
  --white: #fff;
  --black: #000;
  --border-color: none;
  --wpink: #ef476fff;
  --wyellow: #ffd166ff;
--wgreen: #06d6a0ff;
--wblue: #118ab2ff;
--wmidnight: #073b4cff;

}

// 80s
// --paradise-pink: #ef476fff;
// --orange-yellow-crayola: #ffd166ff;
// --caribbean-green: #06d6a0ff;
// --blue-ncs: #118ab2ff;
// --midnight-green-eagle-green: #073b4cff;

//olive
// --paradise-pink: #ef476fff;
// --orange-yellow-crayola: #ffd166ff;
// --caribbean-green: #06d6a0ff;
// --blue-ncs: #118ab2ff;
// --midnight-green-eagle-green: #073b4cff;


