:root {
  --white: #fff;
  --black: #000;
  --border-color: none;


--wpink: #DF1C8C;
--wyellow: #FFD216;
--wbeige: #f7f8fb;;
--wblue: #08b4d7;
--wmidnight: #9aad84;
--wovermidnight: #26262f;
}


// mare
// --wpink: #DF1C8C;
// --wyellow: #FEAA21;
// --wgreen: #B8D1C4;
// --wblue: #08b4d7;
// --wmidnight: #0c84ff;
// --wovermidnight: #26262f;
// }

// re
// --wb: #ef476fff;
// --wyellow: #dcc797;
// --wgreen: #85b79d;
// --wblue: #118ab2ff;
// --wmidnight: #073b4cff;


// 80s
// --paradise-pink: #ef476fff;
// --orange-yellow-crayola: #ffd166ff;
// --caribbean-green: #06d6a0ff;
// --blue-ncs: #118ab2ff;
// --midnight-green-eagle-green: #073b4cff;

//olive
// --paradise-pink: #ef476fff;
// --orange-yellow-crayola: #ffd166ff;
// --caribbean-green: #06d6a0ff;
// --blue-ncs: #118ab2ff;
// --midnight-green-eagle-green: #073b4cff;


// rererer
// --wpink: #DF1C8C;
// --wyellow: #FEAA21;
// --wgreen: #5652FF;
// --wblue: #89843C;
// --wmidnight: #B8D1C4;