

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', sans-serif;
}




h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.4rem;
  p {
    line-height: 1.4rem;
   }
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

h6 {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 0.9rem;
  p {
    line-height: 0.9rem;
   }
}




b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

.eyebrow {
  font-size: 20px;
}

.-text-primary {
  color: #ba55d3;
}

.-text-base {
  color: #000;
}

.-text-error {
  color: #8b008b;
}

.-text-gray {
  color: rgba(0, 0, 0, 0.5);
}

a:link a:visited {
  color: #5324ff;
}

a:hover {
  color: #ba24ff;
}

a:active {
  color: #2a06ad;
}

.link {
  text-decoration: none;
}

.t-center {
  text-align: center;
  margin: auto;

  @media only screen and (max-width: 600px)  {
    h3 {
      font-size: 3.6vw;
    }

  }
}
